@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
body {
  background-color: cornflowerblue;
  /* background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/c221c957092339.59c8dfa58d6d7.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: palevioletred;
  font-size: 100px;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.28);
}

h2 {
  color: chocolate;
  font-size: 50px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 200;
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.28);
}

p {
  color: blanchedalmond;
  font-size: 20px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 200;
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.28);
}

.letter {
  font-size: 50px;
  font-family: "Luckiest Guy", cursive;
  color: bisque;
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.28);
}

input {
  margin: 15px 0;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(31, 2, 48);
  border-radius: 30px;
  font-size: 16px;
  color: #1f0230;
  padding: 15px 150px 15px 15px;
}

button {
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-top: 25px;
  background: linear-gradient(90deg, palevioletred 0%, coral 100%);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.28);
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.28);
  opacity: 0.8;
}

.hangman line,
.hangman circle {
  stroke: #000;
  stroke-width: 2;
}
